imageio==2.28.1
lazy_loader==0.2
networkx==3.1
numpy==1.24.3
opencv-python-headless==4.7.0.72
packaging==23.1
Pillow==9.5.0
PyWavelets==1.4.1
reportlab==3.6.13
scikit-image==0.20.0
scipy==1.10.1
tifffile==2023.4.12
